.app-container {
  max-width: 800px;
  height: 80vh;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.date-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
